Source: liblog-log4perl-appender-lim-cli-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: liblog-log4perl-perl (>= 1), perl
Maintainer: Jerry Lundström <lundstrom.jerry@gmail.com>
Standards-Version: 3.9.1
Homepage: http://github.com/jelu/log-log4perl-appender-lim-cli/wiki

Package: liblog-log4perl-appender-lim-cli-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, liblog-log4perl-perl (>= 1), perl
Description: Log::Log4perl::Appender::Lim::CLI - A Log4perl appender for Lim CLI
 This module is used for getting Log::Log4perl output to the Lim::CLI module.
